openai
python-dotenv
numpy
scikit-learn
tiktoken
pytest
tqdm
nltk
rank_bm25
pinecone
pytest-mock
spacy # пакет используем для анализа текста
# en-core-web-md пакет для spacy используем для анализа текста
flask
colorlog
python-docx
odf
opendocument
odfpy
pinecone-client
pypdf
tenacity
flask-socketio
gunicorn